/* Font Weight 400 (regular) */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.gstatic.com/s/worksans/v3/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Font Weight 700 (bold) */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Work Sans Bold'), local('WorkSans-Bold'), url(https://fonts.gstatic.com/s/worksans/v3/QGYpz_wNahGAdqQ43Rh3x4X8mNhN.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Font Weight 900 */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Work Sans Black'), local('WorkSans-Black'), url(https://fonts.gstatic.com/s/worksans/v3/QGYpz_wNahGAdqQ43Rh3_4f8mNhN.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-size: 14px;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: rgb(255, 242, 242);
}

.container {
  margin-top: 5.25rem;
  max-width: 1170px;
}

#instructions h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(32, 64, 86);
}

#instructions h4 {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(32, 64, 86);
}

#instructions p {
  color: rgb(74, 74, 74);
}

#newGame {
  background-color: rgb(135, 70, 80);
  font-size: 1.5rem;
  font-weight: bold;  
  border: none;
  color: white;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 20px;
}

/* Default style format of a card in game */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 7rem;
  color: rgb(255, 255, 255);
  background-color: rgb(32, 64, 86);
  border: 4px solid #fff;
  border-radius: 8px;
  height: 15rem;
  cursor: pointer;
}
